
li:first-child {
  border-top: none;
}
li {
  border-top: 1px solid #ddd;
}
ul {
  list-style: none;
}
a {
  color: inherit;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.repository-detail {
  display: flex;
}
.repository-detail commits-list {
  width:200px;
}
.repository-detail router-view {
  flex: 1;
}

.title-avatar {
  width: 30px;
  padding-right: 10px;
}
