li:first-child {
  border-top: none;
}
li {
  border-top: 1px solid #ddd;
}
ul {
  list-style: none;
}
a {
  color: inherit;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
}
.title-avatar {
  width: 30px;
  padding-right: 10px;
}
